{{#each reserva}}
<div class="asr__citas__itemContainer" data-serviceID={{serviceID}} data-userID={{userID}}>
    <div class="asr__citas__item">
        <div class="asr__citas__item__citaNombre">
            <p>{{serviceName}}</p>
        </div>
        <div class="asr__citas__item__texto">
            <p class="asr__citas__item__texto__nombre">{{userName}} {{userSurnames}}</p>
            <div class="asr__citas__item__texto__diaIconosContainer">
                <div class="asr__citas__item__texto__diaIconosContainer-left">
                    <div class="asr__citas__item__texto__diaContainer first">
                        <i class="icon-calendar-check"></i>
                        <p class="asr__citas__item__texto__dia">{{day}}</p>
                    </div>
                    <div class="asr__citas__item__texto__diaContainer">
                        <i class="icon-clock"></i>
                        <p class="asr__citas__item__texto__dia">{{time}}</p>
                    </div>
                </div>

                <div class="asr__citas__item__texto__diaIconosContainer-right">
                    <i class="icon-new"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{{/each}}