<link rel="stylesheet" href="css/adminUserInfo.css">
<div class="aui__container">
    <div class="aui">
        <div class="aui__close">
            <button id="btnClose">X</button>
        </div>
        <div class="aui__image">
            <i class="icon-user"></i>
        </div>
        <div class="aui__data">
            <div class="aui__campo">
                <p>Nombre</p>
                <p>Apellidos</p>
                <p>Dirección</p>
                <p>Código Postal</p>
                <p>Teléfono</p>
                <p>Fecha registro</p>
            </div>
            <div class="aui__valores">
                <p>{{username}}</p>
                <p>{{usersurnames}}</p>
                <p>{{useraddress}}</p>
                <p>{{userpostalcode}}</p>
                <p>{{userphone}}</p>
                <p>{{created}}</p>
            </div>
        </div>

    </div>
</div>